.card {
    width: 31%;
    margin-right: 16px;
    margin-bottom: 16px;
}

textarea {
    border: none;
    resize: none;
    width: 100%;
    height: 100%;
}

.input {
    background: transparent;
    border: none;
    width: 90%;
}

.salvar,
.editar,
.excluir {
    cursor: pointer;
}

.salvar:hover,
.editar:hover, 
.excluir:hover {
    color: #0069d9;
}

.excluir {
    float: right;
}

.fa-arrow-to-right {
    width: 16px;
    float: right;
    cursor: pointer;
}

.card-open {
    width: 100%;
    height: 60vh;    
    transition: 0.5s;
}

.card-open .fa-arrow-to-right {
    transform: rotate(180deg);
}