<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Anotações</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary" (click)="adicionar()">Adicionar</button>
            <button class="btn btn-sm btn-outline-secondary">Exportar</button>
        </div>
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-calendar">
                <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                <line x1="16" y1="2" x2="16" y2="6"></line>
                <line x1="8" y1="2" x2="8" y2="6"></line>
                <line x1="3" y1="10" x2="21" y2="10"></line>
            </svg>
            Esta semana
        </button>
    </div>
</div>

<div class=" d-flex flex-wrap">
    <div *ngFor="let card of cards" class="card" [class.card-open]="visualizarCardAberto" [style.borderColor]="isReadonly != card.id ? '#dfdfdf' : 'green'">
        <div class="card-header">
            <input [(ngModel)]="card.titulo" [readonly]="isReadonly != card.id" type="text" class="input"
                placeholder="Título">
            <span (click)="open(card.id)">
                <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="arrow-to-right" role="img"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                    class="svg-inline--fa fa-arrow-to-right fa-w-14 fa-3x">
                    <path fill="currentColor"
                        d="M215 99.5l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l116 115.4H12c-6.6 0-12 5.4-12 12v10c0 6.6 5.4 12 12 12h311.9L208 388.4c-4.7 4.7-4.7 12.3 0 17l7.1 7.1c4.7 4.7 12.3 4.7 17 0l148.5-148c4.7-4.7 4.7-12.3 0-17L232 99.5c-4.7-4.7-12.3-4.7-17 0zM448 76v360c0 6.6-5.4 12-12 12h-8c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h8c6.6 0 12 5.4 12 12z"
                        class=""></path>
                </svg>
            </span>
        </div>
        <div class="card-body">
            <textarea [(ngModel)]="card.descricao" [readonly]="isReadonly != card.id" cols="30" rows="10"
                placeholder="Descrição"></textarea>
        </div>
        <div class="card-footer">
            <small *ngIf="isReadonly == card.id" lass="text-muted" (click)="salvar(card)" class="salvar">salvar</small>
            <small *ngIf="isReadonly != card.id" class="text-muted" (click)="isReadonly = card.id"
                class="editar">editar</small>
            <small class="text-muted" (click)="excluir(card.id)" class="excluir">excluir</small>
        </div>
    </div>
</div>