<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Anotações</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary" (click)="adicionar()" [disabled]="isDisabled">Adicionar</button>
            <button class="btn btn-sm btn-outline-secondary">Exportar</button>
        </div>
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-calendar">
                <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                <line x1="16" y1="2" x2="16" y2="6"></line>
                <line x1="8" y1="2" x2="8" y2="6"></line>
                <line x1="3" y1="10" x2="21" y2="10"></line>
            </svg>
            Esta semana
        </button>
    </div>
</div>

<div class=" d-flex flex-wrap">
    <div *ngFor="let card of cards" class="card">
        <div class="card-header">
            <input [(ngModel)]="card.titulo" [readonly]="isReadonly" type="text" class="input" placeholder="Título">
        </div>
        <div class="card-body">
            <textarea [(ngModel)]="card.descricao"  [readonly]="isReadonly" cols="30" rows="10" placeholder="Descrição"></textarea>
        </div>
        <div class="card-footer">
            <small *ngIf="!isReadonly" class="text-muted" (click)="salvar(card)" class="salvar">salvar</small>
            <small *ngIf="isReadonly" class="text-muted" (click)="editar()" class="editar">editar</small>
            <small class="text-muted" (click)="excluir(card.id)" class="excluir">excluir</small>
        </div>
    </div>

    <!-- <div class="card">
        <div class="card-header">
            Destaque
        </div>
        <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um
                conteúdo adicional. Este conteúdo é um pouco maior, para demonstração.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Atualizados 3 minutos atrás</small>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Destaque
        </div>
        <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um
                conteúdo adicional.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Atualizados 3 minutos atrás</small>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Destaque
        </div>
        <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um
                conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em
                ação.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Atualizados 3 minutos atrás</small>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Destaque
        </div>
        <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um
                conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em
                ação.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Atualizados 3 minutos atrás</small>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Destaque
        </div>
        <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um
                conteúdo adicional. Este conteúdo é um pouco maior, para demonstração.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Atualizados 3 minutos atrás</small>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Destaque
        </div>
        <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um
                conteúdo adicional.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Atualizados 3 minutos atrás</small>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Destaque
        </div>
        <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um
                conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em
                ação.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Atualizados 3 minutos atrás</small>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Destaque
        </div>
        <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um
                conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em
                ação.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Atualizados 3 minutos atrás</small>
        </div>
    </div> -->
</div>