.none {
    display: none;
}

.none.active {
    display: inline-block;
    vertical-align: text-top;
}

table th.tipo,
table th.link {
    cursor: pointer;
}

.table thead th {
    border-bottom: 1px solid #dee2e6 !important;
    border-top: none !important;
}

.title-tarefa {
    padding: 0.75rem;
}

.botoes-lista {
    text-align: right;
    width: 140px;
}

.botoes-lista.alm {
    text-align: right;
    width: 105px;
}

.botoes-lista svg {
    width: 14px;
}

.btn-icon-svg {
    color: #6c757d;
    cursor: pointer;
    width: 14px; 
    margin-left: 0.75rem;
}

.btn-icon-svg.cancelar {
    color: #28a745;
}

.btn-icon-svg.deletar {
    color: #dc3545;
}