<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Links</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary" routerLink="add">Adicionar</button>
            <button class="btn btn-sm btn-outline-secondary">Exportar</button>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">links</th>
                <th scope="col">tipo</th>
                <th scope="col">url</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let link of linksJson">
                <th scope="row">{{link.id}}</th>
                <td>{{link.Link}}</td>
                <td>{{link.tipo}}</td>
                <td><a href="{{link.url}}" target="_blank" rel="noopener noreferrer">{{link.url}}</a></td>
                <td>
                    <button (click)="deletar(link.id)" type="button" class="btn btn-secondary btn-sm">
                        <svg style="width: 12px;" aria-hidden="true" focusable="false" data-prefix="fas"
                            data-icon="trash" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                            class="svg-inline--fa fa-trash fa-w-14 fa-3x">
                            <path fill="currentColor"
                                d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 128H32z"
                                class=""></path>
                        </svg>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<!-- Modal -->
<!-- <div class="modal fade show" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Título do modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary">Salvar mudanças</button>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="modal-backdrop fade show"></div> -->