<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Adicionar Link</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary" routerLink="../../links">Voltar</button>
        </div>
    </div>
</div>

<form action="">
    <label for="nome">Links</label>
    <input type="text" name="nome" [(ngModel)]="links.link"  />

    <br>
    <label for="nome">Url</label>
    <input type="text" name="nome" [(ngModel)]="links.url"  />

    <br>
    <br>

    <button (click)="salvar()" routerLink="../../links">salvar</button>

    {{ links | json }}
</form>