<div *ngIf="loading">
    <svg class="svg-inline--fa fa-spinner fa-w-16 fa-3x rotate" style="width: 16px;" aria-hidden="true"
        focusable="false" data-prefix="fas" data-icon="spinner" role="img" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512">
        <path fill="currentColor"
            d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z"
            class=""></path>
    </svg>
</div>

<div *ngIf="!loading" class="login-container">
    <div class="form-signin">
        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Login Notas Angular</h1>
        </div>

        <div class="form-label-group">
            <input [(ngModel)]="usuario.nome" id="inputEmail" class="form-control" placeholder="Email address" type="email" required="" />
            <label for="inputEmail">Email address</label>
        </div>

        <div class="form-label-group">
            <input [(ngModel)]="usuario.senha" id="inputPassword" class="form-control" placeholder="Password" type="password" required="" />
            <label for="inputPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input value="remember" [(ngModel)]="remember" type="checkbox" /> Lembrar senha
            </label>
            <span class="criar-nova-conta">criar nova conta</span>
        </div>

        <button class="btn btn-lg btn-primary btn-block" (click)="logar()">Logar</button>
    </div>
</div>