<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Home</h1>
</div>

<div *ngIf="servidor.loading">
    <svg class="svg-inline--fa fa-spinner fa-w-16 fa-3x rotate" style="width: 16px;" aria-hidden="true"
         focusable="false" data-prefix="fas" data-icon="spinner" role="img" xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 512 512">
        <path fill="currentColor"
              d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z"
              class="">
        </path>
    </svg>
</div>

<div *ngIf="!servidor.loading">
    <div *ngIf="!servidor.dashboard">
        <p>servidor não encontrado</p>
        <p><a href="https://github.com/typicode/json-server">https://github.com/typicode/json-server</a></p>
        <p><strong>npm install -g json-server</strong></p>
        <p><strong>start</strong></p>
        <p>json-server --watch db.json</p>

        <hr>
        <p>json-server --watch db.json --port 3000</p>
        <strong><p>exemplo json</p></strong>
        <pre>
            {{ jsonExemplo }}
        </pre>
    </div>

    <div *ngIf="servidor.dashboard">
        <div class="row my-3">
            <div class="col">
                <h4>Dashboard</h4>
            </div>
        </div>
        <div class="row">
            <!-- links -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div style="display: block">
                            <canvas baseChart [data]="graficoLinksData" [labels]="['Links']" [chartType]="'doughnut'"
                                    [colors]="graficoColor">
                            </canvas>
                            {{graficoLinksData}}
                        </div>
                    </div>
                </div>
            </div>

            <!-- anotações -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div style="display: block">
                            <canvas baseChart [data]="graficoAntData" [labels]="['Anotações']" [chartType]="'doughnut'"
                                    [colors]="graficoAntColor">
                            </canvas>
                            {{graficoAntData}}
                        </div>
                    </div>
                </div>
            </div>

            <!-- senhas -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div style="display: block">
                            <canvas baseChart [data]="graficoSenhaData" [labels]="['Senhas']" [chartType]="'doughnut'"
                                    [colors]="graficoSenhaColor">
                            </canvas>
                            {{graficoSenhaData}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>